.main-container {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  height: 100%;
  padding: 30px;
  width: 100%;
  background-color: white;
  margin-top: 50px;
  border-radius: 8px;
}

.slider-container {
  display: flex;
  width: 100%;
  height: 324px;
  padding: 2px;
}
.slick-prev:before,
.slick-next:before {
  font-size: 24px;
  color: rgb(12, 9, 9); /* Change color to make arrows visible */
}
.slick-item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 350px;
  align-items: center;
  max-height: 292px;
  text-align: center;
  margin: 0 10px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  /* Add margin to create spacing between items */
}
.slick-item-pic {
  width: 100%;
  max-width: 350px;
  height: 224px;
  border-radius: 5px;
  /* Add margin to create spacing between items */
}
.slick-slide {
  padding: 0px 10px;
}
.slider-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: rgb(19, 18, 44);
}
.failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 24px;
  width: 100%;
}

.failure-view-img {
  height: 100%;
  max-height: 170px;
  width: 100%;
  max-width: 400px;
}

.try-again-btn {
  color: white;
  background-color: #225397;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  height: 40px;
  width: 80px;
}
