.bookshelves-bg {
  padding: 30px;
  background-color: #eceff4;
}

.label-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desk-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px rgb(174, 168, 168);
  border-radius: 4px;
  padding: 10px;
  width: 264px;
  height: 36px;
  opacity: 0px;
}

@media (max-width: 768px) {
  .desk-search-container {
    display: none;
  }
}
.mob-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px rgb(174, 168, 168);
  border-radius: 4px;
  padding: 10px;
  width: 264px;
  height: 36px;
  opacity: 0px;
}

@media (min-width: 768px) {
  .mob-search-container {
    display: none;
  }
}

.search-input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
}

.search-icon {
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.books-ul {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.book-item {
  margin-bottom: 20px;
  list-style-type: none;
  margin-right: 10px;
}

.book-container {
  display: flex;
  margin: 0;
  height: 100%;
}

.cover-pic {
  width: 133px;
  height: 155px;
  flex-grow: 0;
  border-radius: 8px;
  margin-right: 10px;
}
.text-container {
  width: 180px;
  height: 100%;
}
.book-title {
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  width: 100%;
  color: #334155;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 7px;
}
.author-name {
  font-family: Inter;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 7px;
  font-weight: 500;
  text-align: left;
  color: #334155;
}
.rating {
  color: #334155;
  text-align: left;
}
.link {
  text-decoration: none;
  color: white;
}
.book-status {
  font-family: 'roboto';
  font-size: 15px;
  font-weight: 400;
  color: rgb(85, 85, 211);
}
.status {
  color: #475569;
  font-family: 'roboto';
  text-align: left;
}

@media (min-width: 768px) {
  .d-c {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 30px;
  }
}

.status-title {
  font-family: 'roboto';
  font-size: 20px;
  font-weight: 500;
  color: #33465f;
  align-self: flex-start;
}

@media (max-width: 764px) {
  .status-title {
    display: none;
  }
}
.loader-container .failure-view {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  left: 50px;
  bottom: 30px;
  right: 50px;
  justify-content: center;
  align-items: center;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-btn {
  border-left: 1px solid;
  border-right: none;
  border-top: none;
  border-bottom: none;
}
.labels-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  padding-left: 0px;
}
@media (max-width: 764px) {
  .labels-container {
    flex-direction: row;
    justify-content: flex-start;
  }
}
